@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$bodyBg: #1c1d25;
$wrapperBg: #21242B;
$appBg: #2A2C38;
$defaultFont: 'Comfortaa', cursive;
$defaultFontColor: #daaa1a;
$defaultBorder: 4px solid darkgrey;
$configElementBg: #3f4759;
$configFontSize: 20px;
$tablet: "(min-width: 481px) and (max-width: 768px)";
$mobile: "(max-width: 480px)";

@mixin resetBody() {
    margin: 0;
    padding: 0;
}
@mixin centerContent() {
    display: flex;
    justify-content: center;
    align-items: center;
}

%hoverTransitions {
    &:hover {
        background: #5e6574;
        transition: background ease-out .1s;
    }
}
%removeOutline {
    &:focus {
        outline:0;
    }
}