@media #{$tablet} {
    .app {
        padding: 40px 30px;
        height: 336px;
    }
    .app_password {
        @include highterTextarea();
    }
    .config {
        justify-content: space-around;
        .options, .controls {
            width: 185px;
        }
        .options {
            .checkbox_item {
                padding-left: 15px;
                .checkbox_indicator {
                    right: -15px;
                }
            }
        }
    }
}
 
@media #{$mobile} {
    .wrapper {
        min-height:810px;
        padding: 0;
    }
    .header {
        width: 315px;
        margin-top: 5px;
        .header_logo {
            width: 70px;
            height: 70px;
        }
        .header_inscription {
            font-size: 27px;
            top: 33px;
            left: 38px;
        }
        .header_version {
            top: 60px;
            font-size: 12px;
        }
        .header_text {
            margin-top: 8px;
            text-align: center;
            font-size: 12px;
        }
    }
    .app {
        height: 465px;
        width: 100%;;
        margin-top: 6px;
        padding: 25px 10px;
        border: none;
        border-top: $defaultBorderMobile;
        border-bottom: $defaultBorderMobile;
        border-radius: 0;
        .app_alert {
            position: relative;
            top: 7px;
            font-size: 18px;
        }
    }
    .app_password {
        margin: 0;
        @include highterTextarea();
    }
    .config {
        margin: 5px 0;
        .options {
            margin-top: 15px;
        }
        .controls {
            display: block;
            height: auto;
            margin-top: 10px;
            .controls_row {
                width: 100%;
                .controls_btn {
                    width: 100%;
                    height: 38px;
                }
                .controls_btn:nth-of-type(even) {
                    margin: 14px 1px 14px 1px;
                    &:active {
                        margin: 15px 0px 13px 2px;
                    }
                }
            }
        }
    }
    .socials {
        padding: 5px 0;
        * {
            margin: 8px auto;
        }
    }
}