@media #{$tablet} {
    .app {
        padding: 40px 30px;
        height: 336px;
    }
    .app_password {
        max-height: 56px;
        min-height: 56px;
    }
    .config {
        justify-content: space-around;
        .options, .controls {
            width: 185px;
        }
        .options {
            .checkbox_item {
                padding-left: 15px;
                .checkbox_indicator {
                    right: -15px;
                }
            }
        }
    }
}
 
@media #{$mobile} {
    .wrapper {
        min-height: 710px;
    }
    .header {
        width: 310px;
        .header_logo {
            width: 70px;
            height: 70px;
        }
        .header_inscription {
            font-size: 27px;
            top: 33px;
            left: 38px;
        }
        .header_version {
            top: 60px;
            font-size: 12px;
        }
        .header_text {
            margin-top: 8px;
            text-align: center;
            font-size: 12px;
        }
    }
    .app {
        width: 260px;
        margin-top: 6px;
        padding: 15px 20px;
        .app_alert {
            font-size: 14px;
        }
    }
    .app_password {
        margin: 0;
    }
}