@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$bodyBg: #100d0d;
$wrapperBg: #21242B;
$appBg: #2A2C38;
$defaultFontColor: #daaa1a;
$defaultBorder: 4px solid darkgrey;

@mixin resetBody() {
    margin: 0;
    padding: 0;
}

html, body {
    background: $bodyBg;
    width: 100%;
    height: 100%;
    @include resetBody();
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $wrapperBg;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    height: 100%;
    padding-right: 10px;
    padding-left:  10px;
    border-right: $defaultBorder;
    border-left: $defaultBorder;
}
.app {
    margin: 0 auto;
    width: 350px;
    padding: 20px;
    background: $appBg;
    color: $defaultFontColor;
    border: $defaultBorder;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
}