@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$bodyBg: #100d0d;
$wrapperBg: #21242B;
$appBg: #2A2C38;
$defaultFont: 'Comfortaa', cursive;
$defaultFontColor: #daaa1a;
$defaultBorder: 4px solid darkgrey;
$configElementBg: #3f4759;

@mixin resetBody() {
    margin: 0;
    padding: 0;
}
@mixin centerContent() {
    display: flex;
    justify-content: center;
    align-items: center;
}

%hoverTransitions {
    &:hover {
        background: #5e6574;
        transition: background ease-out .1s;
    }
}
%removeOutline {
    &:focus {
        outline:0;
    }
}

html, body {
    background: $bodyBg;
    width: 100%;
    height: 100%;
    @include resetBody();
}
.wrapper {
    background: $wrapperBg;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    height: 100%;
    padding-right: 10px;
    padding-left:  10px;
    border-right: $defaultBorder;
    border-left: $defaultBorder;
    @include centerContent();
}
.app {
    margin: 0 auto;
    width: 450px;
    padding: 30px 40px;
    background: $appBg;
    color: $defaultFontColor;
    border: $defaultBorder;
    border-radius: 10px;
    font-family: $defaultFont;
    .password {
        color: $defaultFontColor;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background: $configElementBg;
        width: 100%;
        border: 0;
        border-bottom: 3px solid lightgrey;
        margin-bottom: 20px;
        padding: 5px 0;
        @extend %hoverTransitions;
        @extend %removeOutline;
    }
    p {
        text-align: center;
    }
}
.config {
    @include centerContent();
    .options {
        width: 225px;
        .range_label {
            display: block;
            width: 100%;
            text-align: center;
            margin: 5px 0;
        }
        .range {
            padding: 5px 0;
            width: 100%;
        }
        .options_checkbox {
            margin: 5px 0 0 55px;
        }
        label {
            display:inline-block;
            width: 100px;
        }
    }
    .controls {
        width: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        .controls_row {
            width: 165px;
            .controls_btn {
                color: $defaultFontColor;
                font-size: 16px;
                background: $configElementBg;
                border: 0;
                border: 1.5px solid lightgrey;
                border-radius: 8px;
                margin: 12px 5px 5px 20px;
                padding: 7px;
                width: 140px;
                height: 36px;
                cursor: pointer;
                text-decoration: none;
                @extend %hoverTransitions;
                @extend %removeOutline;
                &:active {
                    margin: 13px 4px 4px 21px;
                }
            }
            .controls_btn--red {
                color: red;
            }
        }
    }
}